{lib_dirs, []}.
{erl_first_files, []}.
{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {webmachine, ".*", {git, "git://github.com/basho/webmachine.git", "HEAD"}},
  {mochiweb, "2.9.0", {git, "git://github.com/basho/mochiweb.git", {tag, "2.9.0"}}},
  {epgsql, "2.0.0", {git, "git://github.com/epgsql/epgsql", {tag, "2.0.0"}}}
]}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, ["rel"]}.
